In [2]:
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime

In [236]:
# df1 = pd.read_excel('plus_data/국제금리_OECD.xlsx')
# df2 = pd.read_excel('plus_data/국제유가.xlsx')
# df3 = pd.read_excel('plus_data/raw/k_rate.xlsx')
df4 = pd.read_excel('plus_data/raw/k_rate2.xlsx')
# df5 = pd.read_excel('plus_data/DJI.xlsx')
# df6 = pd.read_excel('plus_data/NASDAQ.xlsx')
# df7 = pd.read_excel('plus_data/S_P500.xlsx')

In [246]:
rr = pd.concat([df3,df4])
rr

,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
2000-01-01,9.28,10.02,-,10.25,7.28,4.78,4.75
2000-02-01,8.99,9.54,-,10.01,7.13,5.02,5.00
2000-03-01,9.06,9.54,-,10.00,7.00,5.10,5.00
2000-04-01,8.95,9.30,-,9.97,7.06,5.10,5.00
2000-05-01,8.96,9.29,-,9.91,7.14,5.12,5.00
...,...,...,...,...,...,...,...
2022-04-01,2.94,3.14,3.22,3.63,1.64,1.30,1.50
2022-05-01,3.02,3.23,3.30,3.78,1.77,1.51,1.75
2022-06-01,3.48,3.65,3.64,4.23,1.99,1.75,1.75
2022-07-01,3.24,3.30,3.30,4.13,2.41,1.97,2.25
2022-08-01,3.25,3.30,3.32,4.23,2.79,2.26,2.50

In [263]:
rr = rr.reset_index()

In [273]:
rr['index'] = rr['index'].astype(str)

In [274]:
for i in range(272):
    rr['index'][i] = rr['index'][i][:7]

In [287]:
rr = rr.rename(index={'index':'month'})

In [289]:
rr.to_csv('금리.csv')

In [268]:
rr['index'].iloc[:7]

0   2000-01-01
1   2000-02-01
2   2000-03-01
3   2000-04-01
4   2000-05-01
5   2000-06-01
6   2000-07-01
Name: index, dtype: datetime64[ns]

In [265]:
# rr.index = 
for i in range(len(rr)):
    rr['index'][i] = datetime.strptime(str(rr['index'][i]), '%Y-%m-%d').date()

ValueError: unconverted data remains:  00:00:00

In [232]:
df3

,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
2000-01-01,9.28,10.02,-,10.25,7.28,4.78,4.75
2000-02-01,8.99,9.54,-,10.01,7.13,5.02,5.00
2000-03-01,9.06,9.54,-,10.00,7.00,5.10,5.00
2000-04-01,8.95,9.30,-,9.97,7.06,5.10,5.00
2000-05-01,8.96,9.29,-,9.91,7.14,5.12,5.00
...,...,...,...,...,...,...,...
2017-08-01,1.78,1.99,2.29,2.32,1.39,1.23,1.25
2017-09-01,1.79,1.99,2.29,2.33,1.38,1.25,1.25
2017-10-01,2.03,2.25,2.46,2.57,1.38,1.24,1.25
2017-11-01,2.15,2.36,2.54,2.71,1.45,1.26,1.50
2017-12-01,2.10,2.30,2.47,2.65,1.66,1.51,1.50

In [237]:
df4 = df4.rename(columns=df4.iloc[1]).drop(df4.index[1])
df4

,NaT,2018-01-01,2018-02-01,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,...,2021-11-01,2021-12-01,2022-01-01,2022-02-01,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,국고채 3년(평균),2.19,2.28,2.27,2.19,2.25,2.18,2.10,2.02,1.95,...,1.95,1.80,2.06,2.29,2.37,2.94,3.02,3.48,3.24,3.25
3,국고채 5년(평균),2.44,2.54,2.50,2.44,2.53,2.44,2.34,2.24,2.13,...,2.17,1.98,2.28,2.50,2.60,3.14,3.23,3.65,3.30,3.30
4,국고채 10년(평균),2.63,2.77,2.71,2.66,2.76,2.66,2.55,2.46,2.32,...,2.36,2.19,2.49,2.69,2.78,3.22,3.30,3.64,3.30,3.32
5,회사채 3년(평균),2.72,2.82,2.83,2.79,2.86,2.81,2.75,2.66,2.40,...,2.49,2.41,2.63,2.87,3.03,3.63,3.78,4.23,4.13,4.23
6,CD 91물(평균),1.66,1.65,1.65,1.65,1.65,1.65,1.65,1.65,1.65,...,1.17,1.27,1.39,1.50,1.50,1.64,1.77,1.99,2.41,2.79
7,"콜금리(1일물,평균)",1.49,1.49,1.49,1.47,1.50,1.49,1.49,1.50,1.54,...,0.80,1.01,1.19,1.22,1.24,1.30,1.51,1.75,1.97,2.26
8,기준금리,1.50,1.50,1.50,1.50,1.50,1.50,1.50,1.50,1.50,...,1.00,1.00,1.25,1.25,1.25,1.50,1.75,1.75,2.25,2.50

In [238]:
df4 = df4.transpose()

In [239]:
df4 = df4.rename(columns=df4.iloc[0]).drop(df4.index[0])
df4

,NaN,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
2018-01-01,NaN,2.19,2.44,2.63,2.72,1.66,1.49,1.50
2018-02-01,NaN,2.28,2.54,2.77,2.82,1.65,1.49,1.50
2018-03-01,NaN,2.27,2.50,2.71,2.83,1.65,1.49,1.50
2018-04-01,NaN,2.19,2.44,2.66,2.79,1.65,1.47,1.50
2018-05-01,NaN,2.25,2.53,2.76,2.86,1.65,1.50,1.50
2018-06-01,NaN,2.18,2.44,2.66,2.81,1.65,1.49,1.50
2018-07-01,NaN,2.10,2.34,2.55,2.75,1.65,1.49,1.50
2018-08-01,NaN,2.02,2.24,2.46,2.66,1.65,1.50,1.50
2018-09-01,NaN,1.95,2.13,2.32,2.40,1.65,1.54,1.50
2018-10-01,NaN,2.01,2.16,2.34,2.45,1.68,1.52,1.50
2018-11-01,NaN,1.94,2.05,2.21,2.40,1.71,1.51,1.75
2018-12-01,NaN,1.83,1.89,1.99,2.30,1.91,1.77,1.75
2019-01-01,NaN,1.81,1.88,1.99,2.26,1.87,1.75,1.75
2019-02-01,NaN,1.80,1.87,1.99,2.25,1.87,1.76,1.75
2019-03-01,NaN,1.79,1.84,1.95,2.24,1.90,1.76,1.75
2019-04-01,NaN,1.74,1.77,1.89,2.21,1.89,1.75,1.75
2019-05-01,NaN,1.68,1.72,1.83,2.15,1.84,1.75,1.75
2019-06-01,NaN,1.50,1.53,1.62,2.00,1.80,1.76,1.75
2019-07-01,NaN,1.38,1.42,1.51,1.89,1.68,1.63,1.50
2019-08-01,NaN,1.16,1.20,1.25,1.69,1.49,1.51,1.50
2019-09-01,NaN,1.29,1.35,1.42,1.79,1.54,1.52,1.50
2019-10-01,NaN,1.36,1.44,1.58,1.86,1.46,1.35,1.25
2019-11-01,NaN,1.49,1.59,1.75,2.00,1.52,1.28,1.25
2019-12-01,NaN,1.39,1.48,1.65,1.95,1.53,1.28,1.25
2020-01-01,NaN,1.37,1.48,1.66,1.96,1.47,1.27,1.25
2020-02-01,NaN,1.25,1.36,1.54,1.85,1.42,1.24,1.25
2020-03-01,NaN,1.09,1.27,1.49,1.84,1.23,0.98,0.75
2020-04-01,NaN,1.02,1.26,1.50,2.15,1.10,0.74,0.75
2020-05-01,NaN,0.88,1.13,1.39,2.18,1.02,0.70,0.50
2020-06-01,NaN,0.85,1.13,1.39,2.22,0.79,0.48,0.50
2020-07-01,NaN,0.83,1.09,1.36,2.22,0.79,0.48,0.50
2020-08-01,NaN,0.83,1.09,1.37,2.19,0.68,0.50,0.50
2020-09-01,NaN,0.91,1.19,1.50,2.24,0.63,0.48,0.50
2020-10-01,NaN,0.91,1.20,1.51,2.24,0.63,0.51,0.50
2020-11-01,NaN,0.97,1.30,1.61,2.25,0.66,0.49,0.50
2020-12-01,NaN,0.97,1.32,1.68,2.21,0.66,0.51,0.50
2021-01-01,NaN,0.98,1.32,1.73,2.14,0.68,0.49,0.50
2021-02-01,NaN,1.00,1.35,1.85,2.06,0.73,0.49,0.50
2021-03-01,NaN,1.13,1.55,2.04,2.09,0.75,0.49,0.50
2021-04-01,NaN,1.14,1.58,2.04,1.98,0.74,0.48,0.50
2021-05-01,NaN,1.13,1.65,2.13,1.89,0.68,0.48,0.50
2021-06-01,NaN,1.30,1.70,2.10,1.91,0.66,0.51,0.50
2021-07-01,NaN,1.42,1.69,1.98,1.89,0.69,0.53,0.50
2021-08-01,NaN,1.41,1.65,1.91,1.84,0.77,0.56,0.75
2021-09-01,NaN,1.52,1.79,2.06,1.95,0.98,0.77,0.75
2021-10-01,NaN,1.84,2.15,2.40,2.30,1.08,0.74,0.75
2021-11-01,NaN,1.95,2.17,2.36,2.49,1.17,0.80,1.00
2021-12-01,NaN,1.80,1.98,2.19,2.41,1.27,1.01,1.00
2022-01-01,NaN,2.06,2.28,2.49,2.63,1.39,1.19,1.25
2022-02-01,NaN,2.29,2.50,2.69,2.87,1.50,1.22,1.25
2022-03-01,NaN,2.37,2.60,2.78,3.03,1.50,1.24,1.25
2022-04-01,NaN,2.94,3.14,3.22,3.63,1.64,1.30,1.50
2022-05-01,NaN,3.02,3.23,3.30,3.78,1.77,1.51,1.75
2022-06-01,NaN,3.48,3.65,3.64,4.23,1.99,1.75,1.75
2022-07-01,NaN,3.24,3.30,3.30,4.13,2.41,1.97,2.25
2022-08-01,NaN,3.25,3.30,3.32,4.23,2.79,2.26,2.50

In [240]:
df4 = df4.iloc[:,1:]

In [241]:
df4

,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
2018-01-01,2.19,2.44,2.63,2.72,1.66,1.49,1.50
2018-02-01,2.28,2.54,2.77,2.82,1.65,1.49,1.50
2018-03-01,2.27,2.50,2.71,2.83,1.65,1.49,1.50
2018-04-01,2.19,2.44,2.66,2.79,1.65,1.47,1.50
2018-05-01,2.25,2.53,2.76,2.86,1.65,1.50,1.50
2018-06-01,2.18,2.44,2.66,2.81,1.65,1.49,1.50
2018-07-01,2.10,2.34,2.55,2.75,1.65,1.49,1.50
2018-08-01,2.02,2.24,2.46,2.66,1.65,1.50,1.50
2018-09-01,1.95,2.13,2.32,2.40,1.65,1.54,1.50
2018-10-01,2.01,2.16,2.34,2.45,1.68,1.52,1.50
2018-11-01,1.94,2.05,2.21,2.40,1.71,1.51,1.75
2018-12-01,1.83,1.89,1.99,2.30,1.91,1.77,1.75
2019-01-01,1.81,1.88,1.99,2.26,1.87,1.75,1.75
2019-02-01,1.80,1.87,1.99,2.25,1.87,1.76,1.75
2019-03-01,1.79,1.84,1.95,2.24,1.90,1.76,1.75
2019-04-01,1.74,1.77,1.89,2.21,1.89,1.75,1.75
2019-05-01,1.68,1.72,1.83,2.15,1.84,1.75,1.75
2019-06-01,1.50,1.53,1.62,2.00,1.80,1.76,1.75
2019-07-01,1.38,1.42,1.51,1.89,1.68,1.63,1.50
2019-08-01,1.16,1.20,1.25,1.69,1.49,1.51,1.50
2019-09-01,1.29,1.35,1.42,1.79,1.54,1.52,1.50
2019-10-01,1.36,1.44,1.58,1.86,1.46,1.35,1.25
2019-11-01,1.49,1.59,1.75,2.00,1.52,1.28,1.25
2019-12-01,1.39,1.48,1.65,1.95,1.53,1.28,1.25
2020-01-01,1.37,1.48,1.66,1.96,1.47,1.27,1.25
2020-02-01,1.25,1.36,1.54,1.85,1.42,1.24,1.25
2020-03-01,1.09,1.27,1.49,1.84,1.23,0.98,0.75
2020-04-01,1.02,1.26,1.50,2.15,1.10,0.74,0.75
2020-05-01,0.88,1.13,1.39,2.18,1.02,0.70,0.50
2020-06-01,0.85,1.13,1.39,2.22,0.79,0.48,0.50
2020-07-01,0.83,1.09,1.36,2.22,0.79,0.48,0.50
2020-08-01,0.83,1.09,1.37,2.19,0.68,0.50,0.50
2020-09-01,0.91,1.19,1.50,2.24,0.63,0.48,0.50
2020-10-01,0.91,1.20,1.51,2.24,0.63,0.51,0.50
2020-11-01,0.97,1.30,1.61,2.25,0.66,0.49,0.50
2020-12-01,0.97,1.32,1.68,2.21,0.66,0.51,0.50
2021-01-01,0.98,1.32,1.73,2.14,0.68,0.49,0.50
2021-02-01,1.00,1.35,1.85,2.06,0.73,0.49,0.50
2021-03-01,1.13,1.55,2.04,2.09,0.75,0.49,0.50
2021-04-01,1.14,1.58,2.04,1.98,0.74,0.48,0.50
2021-05-01,1.13,1.65,2.13,1.89,0.68,0.48,0.50
2021-06-01,1.30,1.70,2.10,1.91,0.66,0.51,0.50
2021-07-01,1.42,1.69,1.98,1.89,0.69,0.53,0.50
2021-08-01,1.41,1.65,1.91,1.84,0.77,0.56,0.75
2021-09-01,1.52,1.79,2.06,1.95,0.98,0.77,0.75
2021-10-01,1.84,2.15,2.40,2.30,1.08,0.74,0.75
2021-11-01,1.95,2.17,2.36,2.49,1.17,0.80,1.00
2021-12-01,1.80,1.98,2.19,2.41,1.27,1.01,1.00
2022-01-01,2.06,2.28,2.49,2.63,1.39,1.19,1.25
2022-02-01,2.29,2.50,2.69,2.87,1.50,1.22,1.25
2022-03-01,2.37,2.60,2.78,3.03,1.50,1.24,1.25
2022-04-01,2.94,3.14,3.22,3.63,1.64,1.30,1.50
2022-05-01,3.02,3.23,3.30,3.78,1.77,1.51,1.75
2022-06-01,3.48,3.65,3.64,4.23,1.99,1.75,1.75
2022-07-01,3.24,3.30,3.30,4.13,2.41,1.97,2.25
2022-08-01,3.25,3.30,3.32,4.23,2.79,2.26,2.50

In [203]:
# 월별 날짜로 만들기

def to_month(data):
    data['month'] = data['Date']
    
    for i in range(len(data)):
        year = str(data.Date[i].year)
        month = str(data.Date[i].month)
        date = year + '-' + month
        data['month'][i] = datetime.strptime(str(date), '%Y-%m').date()
        
#     data = data.drop(columns=['Date','Open','High','Low','Volume'])
    
    # df column 위치 조절
    data = data[['month','Close']] #,'Change']]
    data = data.groupby('month').mean()
    
    data = data.reset_index()
    
    # month column으로 만들기
    for j in range(len(data)):
        data.month = data.month.astype(str)
        data.month[j] = data.month[j][:7]

    return data

In [197]:
df7

           Date        Close
0    2000-01-03  1455.219971
1    2000-01-04  1399.420044
2    2000-01-05  1402.109985
3    2000-01-06  1403.449951
4    2000-01-07  1441.469971
...         ...          ...
5733 2022-10-14  3583.070068
5734 2022-10-17  3677.949951
5735 2022-10-18  3719.979980
5736 2022-10-19  3695.159912
5737 2022-10-20  3665.780029

[5738 rows x 2 columns]

In [198]:
to_month(df7).to_csv('SP500_1m.csv')

In [153]:
def to_csv(data):
    data = data.transpose()
    data = data.rename(columns=data.iloc[0]).drop(data.index[0])
    return data

In [154]:
df1 = to_csv(df1)

In [156]:
df1 = df1.reset_index()
df1['index'] = df1['index'].astype(str).str.replace('.','-')
df1

     level_0   index      국가별 　　　대한민국 　　　일본 　　　미국 　　　영국
0          0    2000  초단기 국채율       -  0.23  5.84   5.8
1          1  2000-1     예금금리    7.94  0.07     -     -
2          2  2000-2     대출금리    8.55  2.07  9.23  5.96
3          3  2000-3      정부채     8.5  1.75  6.03  5.33
4          4  2000-4     시장금리    5.16  0.11  6.24  5.77
..       ...     ...      ...     ...   ...   ...   ...
105      105    2021  초단기 국채율       -     -  0.04     -
106      106  2021-1     예금금리     1.2     -     -     -
107      107  2021-2     대출금리    2.88     -  3.25     -
108      108  2021-3      정부채    1.85     -   1.4  0.84
109      109  2021-4     시장금리    0.61     -  0.08     -

[110 rows x 7 columns]

In [157]:
df1 = df1.drop(columns=['level_0'])

In [161]:
df1.rename(columns={'index':'Date'}).to_csv('국제금리.csv')

In [177]:
# df2 = df2.transpose()
df2 = df2.rename(columns=df2.iloc[1]).drop(df2.index[1])
df2

,NaN,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,...,2012,2013,2014,2015,2016,2017,2018,2019,2020.0,2021
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,원유(Dubai 기준),15.65,20.26,16.54,17.19,14.95,14.99,16.10,18.60,18.18,...,109.12,105.33,96.40,50.97,41.36,53.10,69.43,63.59,41.42,69.26
3,나프타,165.42,227.75,216.67,194.67,170.25,161.17,173.75,195.67,212.25,...,947.33,926.15,862.24,493.87,400.03,497.00,615.66,526.38,372.65,647.94
4,에틸렌,650.42,805.83,565.08,370.25,328.92,442.00,416.42,458.42,555.00,...,"1,227.52","1,314.19","1,419.28","1,099.03","1,094.23","1,194.00","1,250.42",891.87,700.81,"1,046.67"
5,프로필렌,532.75,630.83,497.00,415.50,323.25,525.42,547.00,487.50,502.33,...,"1,227.52","1,399.25","1,333.31",836.79,758.37,919.50,"1,082.85",915.31,791.36,"1,041.75"
6,HDPE,992.75,950.42,839.19,653.33,582.67,688.75,886.08,797.92,766.67,...,"1,329.71","1,434.67","1,469.25","1,202.67","1,112.60","1,125.30","1,178.29",911.96,791.19,"1,062.63"
7,PP,977.75,901.25,848.75,772.08,529.42,708.75,856.25,795.83,710.83,...,"1,385.36","1,455.71","1,456.30","1,060.51",951.00,"1,047.60","1,201.27","1,029.65",870.56,"1,139.40"

In [178]:
df2 = df2.iloc[1:7,:]

In [179]:
df2.columns = df2.columns.fillna(0).astype(int)

In [180]:
df2 = df2.transpose()

In [181]:
df2

                 2       3         4         5         6         7
0     원유(Dubai 기준)     나프타       에틸렌      프로필렌      HDPE        PP
1989         15.65  165.42    650.42    532.75    992.75    977.75
1990         20.26  227.75    805.83    630.83    950.42    901.25
1991         16.54  216.67    565.08     497.0    839.19    848.75
1992         17.19  194.67    370.25     415.5    653.33    772.08
1993         14.95  170.25    328.92    323.25    582.67    529.42
1994         14.99  161.17     442.0    525.42    688.75    708.75
1995          16.1  173.75    416.42     547.0    886.08    856.25
1996          18.6  195.67    458.42     487.5    797.92    795.83
1997         18.18  212.25     555.0    502.33    766.67    710.83
1998         12.23  147.08    347.29    299.38    526.25    473.75
1999         17.26  184.33    453.29    383.42    595.42    533.75
2000         26.21  271.72    608.52    500.17    670.21    608.33
2001         22.87  235.83     458.1    447.19    571.16    526.21
2002         23.83  236.52    427.92    480.62    544.14    583.93
2003          26.8  284.83    515.75    572.59     620.0    701.57
2004         33.62  388.42    940.92    849.72    936.96    947.13
2005         49.34  486.75    936.17    971.25  1,075.35  1,075.35
2006         61.84  584.39  1,168.21  1,143.58  1,231.40  1,231.40
2007         68.48  697.13  1,189.00  1,153.04  1,328.69  1,328.69
2008         93.56  826.88  1,139.87  1,265.74  1,463.10  1,463.10
2009         61.93  556.10    870.86    947.77  1,058.13  1,058.13
2010         77.94  724.96  1,072.50  1,188.43  1,297.47  1,297.47
2011        106.61  943.58  1,165.51  1,337.14  1,311.13  1,510.82
2012        109.12  947.33  1,227.52  1,227.52  1,329.71  1,385.36
2013        105.33  926.15  1,314.19  1,399.25  1,434.67  1,455.71
2014         96.40  862.24  1,419.28  1,333.31  1,469.25  1,456.30
2015         50.97  493.87  1,099.03    836.79  1,202.67  1,060.51
2016         41.36  400.03  1,094.23    758.37  1,112.60    951.00
2017         53.10  497.00  1,194.00    919.50  1,125.30  1,047.60
2018         69.43  615.66  1,250.42  1,082.85  1,178.29  1,201.27
2019         63.59  526.38    891.87    915.31    911.96  1,029.65
2020         41.42  372.65    700.81    791.36    791.19    870.56
2021         69.26  647.94  1,046.67  1,041.75  1,062.63  1,139.40

In [182]:
df2 = df2.rename(columns=df2.iloc[0]).drop(df2.index[0])

In [183]:
df2 = df2.iloc[11:,:]

In [185]:
df2.to_csv('국제유가.csv')

In [184]:
df2

     원유(Dubai 기준)     나프타       에틸렌      프로필렌      HDPE        PP
2000        26.21  271.72    608.52    500.17    670.21    608.33
2001        22.87  235.83     458.1    447.19    571.16    526.21
2002        23.83  236.52    427.92    480.62    544.14    583.93
2003         26.8  284.83    515.75    572.59     620.0    701.57
2004        33.62  388.42    940.92    849.72    936.96    947.13
2005        49.34  486.75    936.17    971.25  1,075.35  1,075.35
2006        61.84  584.39  1,168.21  1,143.58  1,231.40  1,231.40
2007        68.48  697.13  1,189.00  1,153.04  1,328.69  1,328.69
2008        93.56  826.88  1,139.87  1,265.74  1,463.10  1,463.10
2009        61.93  556.10    870.86    947.77  1,058.13  1,058.13
2010        77.94  724.96  1,072.50  1,188.43  1,297.47  1,297.47
2011       106.61  943.58  1,165.51  1,337.14  1,311.13  1,510.82
2012       109.12  947.33  1,227.52  1,227.52  1,329.71  1,385.36
2013       105.33  926.15  1,314.19  1,399.25  1,434.67  1,455.71
2014        96.40  862.24  1,419.28  1,333.31  1,469.25  1,456.30
2015        50.97  493.87  1,099.03    836.79  1,202.67  1,060.51
2016        41.36  400.03  1,094.23    758.37  1,112.60    951.00
2017        53.10  497.00  1,194.00    919.50  1,125.30  1,047.60
2018        69.43  615.66  1,250.42  1,082.85  1,178.29  1,201.27
2019        63.59  526.38    891.87    915.31    911.96  1,029.65
2020        41.42  372.65    700.81    791.36    791.19    870.56
2021        69.26  647.94  1,046.67  1,041.75  1,062.63  1,139.40