In [2]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

from tqdm.notebook import tqdm
import time

from datetime import datetime, timedelta

In [3]:
df = pd.read_csv('D:/Documents/GitHub/NLP_pjt/df_final_Date_refine_add_blank.csv', index_col = 0).reset_index().drop(columns='index')
df = df.rename(columns = {'언론사':'Press', '날짜':'Date', '제목':'Title'})
stock_df = fdr.DataReader('005930')

df = df[df['Date'] >= str(stock_df.index[1])[:10]].reset_index().drop(columns='index')
df = df.groupby(['Date', 'Press']).sum()

In [160]:
df['Change'] = 'x'

In [4]:
df

                                                              Title Change
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...      x
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...      x
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...      x
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...      x
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...      x
...                                                             ...    ...
2022-07-18 연합뉴스   불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...      x
2022-07-19 연합뉴스   반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...      x
2022-07-20 연합뉴스   삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...      x
2022-07-21 연합뉴스   D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...      x
           한국경제   종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...      x

[702161 rows x 2 columns]

In [83]:
stock_df[1:50]

            Open  High   Low  Close   Volume    Change
Date
1998-05-27   921   921   822    873   596090  0.030697
1998-05-28   876   977   875    977   835549  0.119129
1998-05-29   977  1007   969    996   717510  0.019447
1998-05-30   986   986   934    936   336920 -0.060241
1998-06-01   930   943   889    910   592491 -0.027778
1998-06-02   889   889   837    838   415922 -0.079121
1998-06-03   856   895   847    884   295514  0.054893
1998-06-05   884   925   880    916   477115  0.036199
1998-06-08   949   968   899    899   390975 -0.018559
1998-06-09   893   893   839    856   388820 -0.047831
1998-06-10   875   880   791    801   985847 -0.064252
1998-06-11   798   809   768    804  1098163  0.003745
1998-06-12   754   772   735    745   655220 -0.073383
1998-06-13   720   770   720    745   381980  0.000000
1998-06-15   729   759   707    707   287398 -0.051007
1998-06-16   707   742   679    709   485540  0.002829
1998-06-17   741   794   731    794   878674  0.119887
1998-06-18   837   889   828    889  1026804  0.119647
1998-06-19   888   893   811    847  1039669 -0.047244
1998-06-20   859   873   819    866   287300  0.022432
1998-06-22   875   875   828    830   421830 -0.041570
1998-06-23   795   808   763    765   474325 -0.078313
1998-06-24   765   778   735    768   705985  0.003922
1998-06-25   744   775   735    775   281780  0.009115
1998-06-26   754   791   754    754   302831 -0.027097
1998-06-27   757   780   756    769   140840  0.019894
1998-06-29   781   791   765    765   330510 -0.005202
1998-06-30   765   809   755    791   373730  0.033987
1998-07-01   804   886   796    886   719666  0.120101
1998-07-02   888   921   856    869   869104 -0.019187
1998-07-03   869   884   839    849   398758 -0.023015
1998-07-04   848   871   839    845   177820 -0.004711
1998-07-06   828   863   828    863   220393  0.021302
1998-07-07   872   921   869    875   390230  0.013905
1998-07-08   904   904   867    875   237715  0.000000
1998-07-09   884   884   856    856   244510 -0.021714
1998-07-10   856   865   823    842   309070 -0.016355
1998-07-11   828   841   824    829   193470 -0.015439
1998-07-13   830   875   826    851   674520  0.026538
1998-07-14   856   863   843    862   186170  0.012926
1998-07-15   867   883   860    862   416460  0.000000
1998-07-16   893   964   871    964   750770  0.118329
1998-07-18   983  1070   977   1013   727400  0.050830
1998-07-20  1042  1133  1025   1134   892800  0.119447
1998-07-21  1154  1169  1105   1113   762160 -0.018519
1998-07-22  1079  1107  1070   1082   858010 -0.027853
1998-07-23  1096  1109   986    987   711860 -0.087800
1998-07-24   986  1003   908    961   864250 -0.026342
1998-07-25   847   930   847    847   860060 -0.118626

In [233]:
j = 0
n = 0

for i in tqdm(stock_df.index[1:50]): 
    date_list=[]
    temp_list = []
    while True:
        j += 1
        stock = datetime.strptime(str(i), "%Y-%m-%d %H:%M:%S") # timedelta(days=1) # datetime.datetime(1998, 5, 29, 0, 0) 형태로 변환
        news = datetime.strptime(df.index[j-1][0], "%Y-%m-%d") # + timedelta(days=1)
        temp_list.insert(0, df.index[j-1][0])
        date_list = temp_list
        
        if stock > news:
            news = news + timedelta(days=1) # 휴일장, 주식 날짜 이하로 뉴스 모아서 label
            continue
        elif stock < news: # 장은 열렸지만, news는 없을 때
            j -= 1 # 보류, 날짜 유지, 뉴스기사 버리지 말아라
            stock = stock - timedelta(days=1)
            print('다음 날의 주가 데이터')
            break
        elif news == stock:
            break
        
    while n <= len(date_list):
        if stock_df.loc[str(i), 'Change'] < 0:
            df.loc[df.index.get_level_values('Date').str.contains(date_list[n]), 'Change'] = -1
            break
        elif stock_df.loc[str(i), 'Change'] > 0:
            df.loc[df.index.get_level_values('Date').str.contains(date_list[n]), 'Change'] = 1
            break
        else:
            df.loc[df.index.get_level_values('Date').str.contains(date_list[n]), 'Change'] = 0
            break
        
    print(date_list)
    print(len(date_list))
    print('가져와야 할 주가 데이터 : ', stock)
    print("----------")

  0%|          | 0/49 [00:00<?, ?it/s]

['1998-05-27']
1
가져와야 할 주가 데이터 :  1998-05-27 00:00:00
----------
['1998-05-28']
1
가져와야 할 주가 데이터 :  1998-05-28 00:00:00
----------
['1998-05-29']
1
가져와야 할 주가 데이터 :  1998-05-29 00:00:00
----------
['1998-05-30']
1
가져와야 할 주가 데이터 :  1998-05-30 00:00:00
----------
['1998-06-01']
1
가져와야 할 주가 데이터 :  1998-06-01 00:00:00
----------
['1998-06-02']
1
가져와야 할 주가 데이터 :  1998-06-02 00:00:00
----------
['1998-06-03']
1
가져와야 할 주가 데이터 :  1998-06-03 00:00:00
----------
['1998-06-05', '1998-06-04']
2
가져와야 할 주가 데이터 :  1998-06-05 00:00:00
----------
['1998-06-08', '1998-06-06']
2
가져와야 할 주가 데이터 :  1998-06-08 00:00:00
----------
['1998-06-09']
1
가져와야 할 주가 데이터 :  1998-06-09 00:00:00
----------
['1998-06-10']
1
가져와야 할 주가 데이터 :  1998-06-10 00:00:00
----------
['1998-06-11']
1
가져와야 할 주가 데이터 :  1998-06-11 00:00:00
----------
['1998-06-12']
1
가져와야 할 주가 데이터 :  1998-06-12 00:00:00
----------
['1998-06-13']
1
가져와야 할 주가 데이터 :  1998-06-13 00:00:00
----------
['1998-06-15']
1
가져와야 할 주가 데이터 :  1998-06-15 00:00:00
----------
['1998-06-16']
1
가져와야 할 주가 데이터 :  1998-06-16 00:00:00
----------
['1998-06-17']
1
가져와야 할 주가 데이터 :  1998-06-17 00:00:00
----------
['1998-06-18']
1
가져와야 할 주가 데이터 :  1998-06-18 00:00:00
----------
['1998-06-19']
1
가져와야 할 주가 데이터 :  1998-06-19 00:00:00
----------
['1998-06-20']
1
가져와야 할 주가 데이터 :  1998-06-20 00:00:00
----------
['1998-06-22', '1998-06-21']
2
가져와야 할 주가 데이터 :  1998-06-22 00:00:00
----------
['1998-06-23']
1
가져와야 할 주가 데이터 :  1998-06-23 00:00:00
----------
['1998-06-24']
1
가져와야 할 주가 데이터 :  1998-06-24 00:00:00
----------
['1998-06-25']
1
가져와야 할 주가 데이터 :  1998-06-25 00:00:00
----------
['1998-06-26']
1
가져와야 할 주가 데이터 :  1998-06-26 00:00:00
----------
['1998-06-27']
1
가져와야 할 주가 데이터 :  1998-06-27 00:00:00
----------
['1998-06-29', '1998-06-28']
2
가져와야 할 주가 데이터 :  1998-06-29 00:00:00
----------
['1998-06-30']
1
가져와야 할 주가 데이터 :  1998-06-30 00:00:00
----------
['1998-07-01']
1
가져와야 할 주가 데이터 :  1998-07-01 00:00:00
----------
['1998-07-02']
1
가져와야 할 주가 데이터 :  1998-07-02 00:00:00
----------
['1998-07-03']
1
가져와야 할 주가 데이터 :  1998-07-03 00:00:00
----------
['1998-07-04']
1
가져와야 할 주가 데이터 :  1998-07-04 00:00:00
----------
['1998-07-06', '1998-07-05']
2
가져와야 할 주가 데이터 :  1998-07-06 00:00:00
----------
['1998-07-07']
1
가져와야 할 주가 데이터 :  1998-07-07 00:00:00
----------
['1998-07-08']
1
가져와야 할 주가 데이터 :  1998-07-08 00:00:00
----------
['1998-07-09']
1
가져와야 할 주가 데이터 :  1998-07-09 00:00:00
----------
['1998-07-10']
1
가져와야 할 주가 데이터 :  1998-07-10 00:00:00
----------
['1998-07-11']
1
가져와야 할 주가 데이터 :  1998-07-11 00:00:00
----------
['1998-07-13']
1
가져와야 할 주가 데이터 :  1998-07-13 00:00:00
----------
['1998-07-14']
1
가져와야 할 주가 데이터 :  1998-07-14 00:00:00
----------
['1998-07-15']
1
가져와야 할 주가 데이터 :  1998-07-15 00:00:00
----------
['1998-07-16']
1
가져와야 할 주가 데이터 :  1998-07-16 00:00:00
----------
['1998-07-18', '1998-07-17']
2
가져와야 할 주가 데이터 :  1998-07-18 00:00:00
----------
['1998-07-20']
1
가져와야 할 주가 데이터 :  1998-07-20 00:00:00
----------
['1998-07-21']
1
가져와야 할 주가 데이터 :  1998-07-21 00:00:00
----------
['1998-07-22']
1
가져와야 할 주가 데이터 :  1998-07-22 00:00:00
----------
['1998-07-23']
1
가져와야 할 주가 데이터 :  1998-07-23 00:00:00
----------
['1998-07-24']
1
가져와야 할 주가 데이터 :  1998-07-24 00:00:00
----------
['1998-07-25']
1
가져와야 할 주가 데이터 :  1998-07-25 00:00:00
----------

In [145]:
df.loc[df.index.get_level_values('Date').str.contains('1998-05-27'), 'Change'] = 'zzzz'

In [ ]:
df.index[0][0].str.contains('1998')

In [172]:
date_list = ['1998-06-05', '1998-06-04']
date_list

['1998-06-05', '1998-06-04']

In [179]:
while n == (len(date_list)):
    'sss',n

In [189]:
i = 0
while i < 10:
    i += 1
    print('ss')

ss
ss
ss
ss
ss
ss
ss
ss
ss
ss

In [214]:
df[:30]

                                                              Title Change
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...      1
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...      1
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...     -1
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...      1
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...     -1
1998-06-02 연합뉴스   공장도價 과다 책정...소비자불신 초래 <약수터> 환경부 고위공직자 근무지이탈 말썽...      1
1998-06-03 연합뉴스   주가 소폭 상승세 '98 환경의 날 포상자 발표 현대전자, 메모리 반도체 본격 감산...     -1
1998-06-04 연합뉴스                    "반도체3사 감산시 세계시장의 12.2% 공급축소 효과"       1
1998-06-05 연합뉴스   <밀레니엄 버그, PC도 예외없다>-1 제13회 초록동요제 7일 열려 한국기업 세계...      1
1998-06-06 연합뉴스                            정부, 美에 삼성컬러TV 반덤핑 철회 요청       1
1998-06-08 연합뉴스   삼성전자, 반도체생산라인 가동 일시중단<1보> 주가 상승세 지속, 3백50선 회복 ...     -1
1998-06-09 연합뉴스   삼성전자, 데슈츠칩 장착 PC서버 2종 개발 가전사, OEM 방식 수출 확대 한국통...     -1
1998-06-10 연합뉴스   주가 강보합세 <외국기업 소식> ...다국적기업 소개 - 모토로라 한국그룹 가전업체...      1
1998-06-11 연합뉴스   빅딜 임박설에 재계행보 급박 주가 약보합세 빅딜 관련 기업 반응과 빅딜 파급효과 참...     -1
1998-06-12 연합뉴스   정보산업연합회, 교육정보화 전국 순회전시회 개최 주가 3백10대로 밀려 삼성전자, ...      0
1998-06-13 연합뉴스   삼성전자, TFT-LCD 廣視野角 기술개발 삼성전자, 반도체 생산라인 휴무 주가지수...     -1
1998-06-15 연합뉴스   주가 3백선 붕괴 <확대경> 빅딜, 새 국면 맞을 듯 <주식시황> 주가 2백80선대...      1
1998-06-16 연합뉴스   삼성전자, `훈민정음'으로 MS워드 독주 저지 삼성전자, 중국에서 CDMA 상용서비...      1
1998-06-17 연합뉴스   전자업계, 경기불황속에서도 신입사원 채용 나서 <연합인터뷰> 朴希晙 삼성전자 정보통...      1
1998-06-18 연합뉴스   한통, ICO사업 위한 위성지구국장비 설치공사 착수 주가 3백20선 다가서 주가 상...     -1
1998-06-19 연합뉴스   <프로농구소식> 삼성, `3대3농구대회' 개최 주가 조정 양상 삼성전자, 시각장애인...      1
1998-06-20 연합뉴스   삼성전자, 디지털 캠코더용 핵심 칩 개발 7.21 재.보선 누가 뛰고 있나 전자대리...     -1
1998-06-21 연합뉴스                      `7.21 재.보선' D-30...與野 총력지원 태세      -1
1998-06-22 연합뉴스   축구 관련 광고 중단 주가 약보합세 축구관련 광고중단(대체) 능률협회컨설팅, `98...     -1
1998-06-23 연합뉴스   <`7.21 재.보선' 與野 공천작업 박차>-1 주가 하락세 삼성전자, 14인치 평...      1
1998-06-24 연합뉴스   아래아한글 살리기 어떻게 돼가나 삼성전자 레이저프린터 `라제트' 출시 외국인, 주식...      1
1998-06-25 연합뉴스   주가 나흘째 하락, 3백선 붕괴 4월이후 상장사 채무보증 격감..출자급증 <초점> ...     -1
1998-06-26 연합뉴스   與野 `7.21재.보선' 일부지역 공천 고심 국제통상 법률자문단 발족 삼성전자, 1...      1
1998-06-27 연합뉴스                         주가 3백선 회복 <주식시황> 주가 3백선 회복      -1
1998-06-28 연합뉴스                          삼성전자 PC, Y2K 문제 해결프로그램 개발      -1

In [20]:
df.loc[df.index.get_level_values('Date').str.contains('1998-07-18'), 'Change'] # = 'xxx'    # stock_df.stock['Change']

Date        Press
1998-07-18  연합뉴스     xxx
Name: Change, dtype: object

In [21]:
if stock_df.loc['1998-07-18', 'Change'] < 0:
    df.loc[df.index.get_level_values('Date').str.contains('1998-07-18'), 'Change'] = 0
else:
    df.loc[df.index.get_level_values('Date').str.contains('1998-07-18'), 'Change'] = 1

AttributeError: Can only use .str accessor with string values!

In [11]:
df[df.index.get_level_values('Date').str.contains('1998-07-18')]

                                    Title Change
Date       Press
1998-07-18 연합뉴스   <주식시황> 주가 급등, 3백40선 탈환     xxx

In [42]:
df['Change'] = 'y'

In [10]:
df

                                                              Title Change
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...      x
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...      x
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...      x
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...      x
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...      x
...                                                             ...    ...
2022-07-18 연합뉴스   불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...      x
2022-07-19 연합뉴스   반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...      x
2022-07-20 연합뉴스   삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...      x
2022-07-21 연합뉴스   D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...      x
           한국경제   종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...      x

[702161 rows x 2 columns]

In [17]:
df.iloc[df.index.get_level_values('Date') == '1998-07-18']

                                    Title Change
Date       Press
1998-07-18 연합뉴스   <주식시황> 주가 급등, 3백40선 탈환       x